<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.carservice.persistence.ClientRepository">

    <insert id="create" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        clients
        (name, surname, phone_number, birthday)
        VALUES
        (#{name}, #{surname}, #{phoneNumber}, #{birthday})
    </insert>

    <delete id="deleteById">
        DELETE FROM clients WHERE id = #{id}
    </delete>

    <update id="update">
        UPDATE clients
        <if test="field == 'name'">
            SET name = #{client.name}
        </if>
        <if test="field == 'surname'">
            SET surname = #{client.surname}
        </if>
        <if test="field == 'phone_number'">
            SET phone_number = #{client.phoneNumber}
        </if>
        <if test="field == 'birthday'">
            SET birthday = #{client.birthday}
        </if>
        WHERE id = #{id};
    </update>

    <sql id="clientSelect">
        SELECT * FROM clients
    </sql>

    <sql id="getOrdersByClientId">
        SELECT
        o.id, o.date, cl.id, cl.name, cl.surname, cl.phone_number, cl.birthday,
        c.id, c.cost, s.id, s.name, s.price, s.hours_to_do, cars.id, cars.brand, cars.model, cars.year,
        d.id, d.name, com.id, com.name, com.address, det.id, det.name, det.price, det.in_stock, det.delivery_days
        FROM
        orders o
        LEFT JOIN
        clients cl ON o.client_id = cl.id
        LEFT JOIN
        costs c ON o.cost_id = c.id
        LEFT JOIN
        services s ON c.service_id = s.id
        LEFT JOIN
        cars ON s.car_id = cars.id
        LEFT JOIN
        departments d ON s.department_id = d.id
        LEFT JOIN
        companies com ON d.company_id = c.id
        LEFT JOIN
        details det ON c.detail_id = det.id
        WHERE
        cl.id = #{cl.id}
    </sql>

    <select id="getAll" resultMap="ClientResultMap">
        <include refid="clientSelect"/>
    </select>

    <select id="getById" resultMap="ClientResultMap">
        <include refid="clientSelect"/>
        WHERE id = #{id}
    </select>

    <select id="getByName" resultMap="ClientResultMap">
        <include refid="clientSelect"/>
        WHERE name = #{name}
    </select>

    <select id="getBySurname" resultMap="ClientResultMap">
        <include refid="clientSelect"/>
        WHERE surname = #{surname}
    </select>

    <select id="getByPhoneNumber" resultMap="ClientResultMap">
        <include refid="clientSelect"/>
        WHERE phone_number = #{phoneNumber}
    </select>

    <select id="getByBirthday" resultMap="ClientResultMap">
        <include refid="clientSelect"/>
        WHERE birthday = #{birthday}
    </select>

    <resultMap id="ClientResultMap" type="com.solvd.carservice.domain.entity.Client" autoMapping="false">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="surname" property="surname"/>
        <result column="phone_number" property="phoneNumber"/>
        <result column="birthday" property="birthday"/>
        <collection property="orders"
                    resultMap="com.solvd.carservice.persistence.OrderRepository.OrderResultMap"/>
    </resultMap>

</mapper>