<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.carservice.persistence.DepartmentRepository">

    <insert id="create" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        departments
        (name, company_id)
        VALUES
        (#{name}, #{companyId})
    </insert>

    <delete id="deleteById">
        DELETE FROM departments WHERE id = #{id}
    </delete>

    <update id="update">
        UPDATE departments SET name = #{department.name} WHERE id = #{id};
    </update>

    <sql id="departmentSelect">
        SELECT
        d.id, d.name, c.id, c.name, c.address
        FROM
        departments d
        LEFT JOIN
        companies c ON d.company_id = c.id
    </sql>

    <select id="getServicesByDepartmentId" resultMap="DepartmentResultMap">
        SELECT
        services.id, services.name, services.price, services.hours_to_do, cars.id, cars.brand, cars.model, cars.year,
        e.id, e.name, e.surname, e.age, e.position, e.level, e.salary, e.phone_number,
        d.id, d.name, com.id, com.name, com.address
        FROM
        services
        LEFT JOIN
        employee_services es ON es.service_id = services.id
        LEFT JOIN
        employees e ON es.employee_id = e.id
        LEFT JOIN
        cars ON services.car_id = cars.id
        LEFT JOIN
        departments d ON services.department_id = d.id
        LEFT JOIN
        companies com ON d.company_id = com.id
        WHERE
        d.id = #{d.id}
    </select>

    <select id="getEmployeesByDepartmentId" resultMap="DepartmentResultMap">
        SELECT
        e.id, e.name, e.surname, e.age, e.position, e.level, e.salary, e.phone_number, d.id, d.name, com.id, com.name, com.address,
        services.id, services.name, services.price, services.hours_to_do, cars.id, cars.brand, cars.model, cars.year
        FROM
        employees e
        LEFT JOIN
        employee_services es ON es.employee_id = e.id
        LEFT JOIN
        services ON es.service_id = services.id
        LEFT JOIN
        cars ON services.car_id = cars.id
        LEFT JOIN
        departments d ON services.department_id = d.id
        LEFT JOIN
        companies com ON d.company_id = com.id
        WHERE
        d.id = #{d.id}
    </select>

    <select id="getAll" resultMap="DepartmentResultMap">
        <include refid="departmentSelect"/>
    </select>

    <select id="getById" resultMap="DepartmentResultMap">
        <include refid="departmentSelect"/>
        WHERE id = #{id}
    </select>

    <select id="getByName" resultMap="DepartmentResultMap">
        <include refid="departmentSelect"/>
        WHERE name = #{name}
    </select>

    <resultMap id="DepartmentResultMap" type="com.solvd.carservice.domain.entity.Department" autoMapping="false">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <association property="companyId"
                    resultMap="com.solvd.carservice.persistence.CompanyRepository.CompanyResultMap"/>
        <collection property="services"
                     resultMap="com.solvd.carservice.persistence.ServiceRepository.ServiceResultMap"/>
        <collection property="employees"
                    resultMap="com.solvd.carservice.persistence.EmployeeRepository.EmployeeResultMap"/>
    </resultMap>

</mapper>