<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.carservice.persistence.DetailRepository">

    <insert id="create" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        details
        (name, price, car_id, in_stock, delivery_days)
        VALUES
        (#{name}, #{price}, #{carId}, #{inStock}, #{deliveryDays})
    </insert>

    <delete id="deleteById">
        DELETE FROM details WHERE id = #{id}
    </delete>

    <update id="update">
        UPDATE details
        <if test="field == 'name'">
            SET name = #{detail.name}
        </if>
        <if test="field == 'price'">
            SET price = #{detail.price}
        </if>
        <if test="field == 'in_stock'">
            SET in_stock = #{detail.inStock}
        </if>
        <if test="field == 'delivery_days'">
            SET delivery_days = #{detail.deliveryDays}
        </if>
        WHERE id = #{id};
    </update>

    <sql id="detailSelect">
        SELECT
        details.id, details.name, details.price,
        cars.id, cars.brand, cars.model, cars.year,details.in_stock, details.delivery_days,
        FROM
        details
        LEFT JOIN
        cars ON details.car_id = cars.id
    </sql>

    <select id="getCostsByDetailId" resultMap="DetailResultMap">
        SELECT
        c.id, c.cost, s.id, s.name, s.price, s.hours_to_do, cars.id, cars.brand, cars.model, cars.year,
        d.id, d.name, com.id, com.name, com.address, det.id, det.name, det.price, det.in_stock, det.delivery_days
        FROM
        costs c
        LEFT JOIN
        services s ON c.service_id = s.id
        LEFT JOIN
        cars ON s.car_id = cars.id
        LEFT JOIN
        departments d ON s.department_id = d.id
        LEFT JOIN
        companies com ON d.company_id = c.id
        LEFT JOIN
        details det ON c.detail_id = det.id
        WHERE
        det.id = #{det.id}
    </select>

    <select id="getAll" resultMap="DetailResultMap">
        <include refid="detailSelect"/>
    </select>

    <select id="getById" resultMap="DetailResultMap">
        <include refid="detailSelect"/>
        WHERE details.id = #{id}
    </select>

    <select id="getByName" resultMap="DetailResultMap">
        <include refid="detailSelect"/>
        WHERE name = #{name}
    </select>

    <select id="getByPrice" resultMap="DetailResultMap">
        <include refid="detailSelect"/>
        WHERE price = #{price}
    </select>

    <select id="getByInStock" resultMap="DetailResultMap">
        <include refid="detailSelect"/>
        WHERE in_stock = #{inStock}
    </select>

    <select id="getByDeliveryDays" resultMap="DetailResultMap">
        <include refid="detailSelect"/>
        WHERE delivery_days = #{deliveryDays}
    </select>

    <resultMap id="DetailResultMap" type="com.solvd.carservice.domain.entity.Detail" autoMapping="false">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="price" property="price"/>
        <result column="in_stock" property="inStock"/>
        <result column="delivery_days" property="deliveryDays"/>
        <association property="carId"
                    resultMap="com.solvd.carservice.persistence.CarRepository.CarResultMap"/>
        <collection property="costs"
                     resultMap="com.solvd.carservice.persistence.CostRepository.CostResultMap"/>
    </resultMap>

</mapper>